{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>gooey movie collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class='navbar-fixed'>
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left">&nbsp;&nbsp;gooey movie collector</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">about</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'services_create' %}">add a service</a></li>
            <li><a href="{% url 'services_index' %}">view all services</a></li>
            <li><a href="{% url 'movies_create' %}">add a movie</a></li>
            <li><a href="{% url 'index' %}"> view all gooey movies</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">sign up</a></li>
            <li><a href="{% url 'login' %}">log in</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">all rights reserved, &copy; 2020 gooey movies &nbsp;</div>
  </footer>
</body>
</html>